/* ================== Base ================== */

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

/* ================== Top bar, main and section ================== */

* {
    font-family: 'Montserrat';
}

#title {
    width: 0px;
    font-size: x-large;
    font-weight: bold;
    padding-left: 32px;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 66px;
    background-color: rgb(231, 231, 231);
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-right: 32px;
}

nav a {
    text-decoration: none;
    color: black;
    border-radius: 8px;
    padding: 8px 16px;

}

main {
    width: 100%;
    padding-top: 66px;
}

.dashboard-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 96%;
    height: calc(100vh - 66px);
    background-color: rgb(255, 255, 255);
    padding: 2%;
    padding-top: 66px;
}

.section-title {
    align-self: flex-start;
    text-align: left;
    font-weight: bold;
    background-color: rgb(243, 243, 243);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 0;
    margin-top: 32px;
}

/* ================== Components ================== */

.chart-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243);
    border-radius: 16px;
    gap: 32px;
    padding: 32px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.chart {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    border-radius: 16px;
}

.chart-clickable {
    transition: background-color .1s ease
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s ease, visibility 0.4s;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2000;
}

.modal {
    width: 80%;
    height: 70%;
    position: relative;
    overflow: hidden;
    background-color: rgba(132, 132, 132, 0.2);
    border-radius: 16px;
    padding: 24px;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.1, 1, 0.1, 1);
}

.modal-content {
    display: flex;
    height: 100%;
    gap: 32px;
}

.modal-chart {
    flex: 2;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 90%;
    overflow: hidden;
    background-color: rgb(230, 230, 230);
    border-radius: 16px;
    padding: 24px;
}

.modal-text {
    flex: 1;
    font-family: 'Montserrat';
    overflow-y: auto;
    background-color: rgb(230, 230, 230);
    border-radius: 16px;
    padding: 24px;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    background: none;
    transition: background .1s ease;
    border: none;
    border-radius: 16px;
    line-height: 1;
    padding: 0;
}

/* ================== States ================== */

nav a.active {
    font-weight: bold;
    background-color: rgb(208, 208, 208);
    transition: background-color .1s ease;
}

nav a:hover:not(.active) {
    background-color: rgb(225, 225, 225);
    transition: background-color .1s ease;
    animation: linkHover .1s both;
}

.chart-clickable:hover {
    background-color: rgb(220, 220, 220);
    transition: background-color .1s ease
}

.overlay.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


.overlay.hidden .modal {
    transform: scale(0.95);
}

.close-button:hover {
    background-color: rgb(237, 237, 237);
    transition: background-color .1s ease;
}

/* ================== Animations ================== */

@keyframes linkHover {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.modal-chart,
.modal-text {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s cubic-bezier(0.1, 1, 0.1, 1), opacity 0.6s ease;
}

.overlay.hidden .modal-chart {
    opacity: 0;
    transform: translateY(100%);
}

.overlay.hidden .modal-text {
    opacity: 0;
    transform: translateY(100%);
}

.overlay .modal-text {
    transition-delay: 0.1s;
}