/* ================== Base ================== */

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

/* ================== Top bar, main and section ================== */

* {
    font-family: 'Montserrat';
}

#title {
    width: 0px;
    font-size: x-large;
    font-weight: bold;
    padding-left: 2vw;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 66px;
    background-color: rgb(231, 231, 231);
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1vw;
    padding-right: 2vw;
}

nav a {
    text-decoration: none;
    color: black;
    border-radius: 8px;
    padding: 8px 16px;

}

main {
    width: 100%;
    padding-top: 66px;
}

.dashboard-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: calc(100vh - 66px);
    background-color: rgb(255, 255, 255);
    padding: 4vw;
    padding-top: 66px;
}

.section-title {
    align-self: flex-start;
    text-align: left;
    font-weight: bold;
    background-color: rgb(243, 243, 243);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 0;
    margin-top: 4vh;
}

/* ================== Components ================== */

.chart-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243);
    border-radius: 16px;
    gap: 2vw;
    padding: 3vh 2vw;
    margin-bottom: 4vh;
    margin-top: 4vh;
    min-width: 0;
    min-height: 0;
}

.chart-container-3charts {
    display: grid;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 16px;
    box-sizing: border-box;
    min-height: 0;
    padding: 1.5vh 1vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.chart-container-3charts .chart-container {
    background-color: none;
    border-radius: none;
    padding: 1.5vh 1vw;
    margin: 0;
}

.chart {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(230, 230, 230);
    border-radius: 16px;
}

.dual-chart {
    background-color: rgb(230, 230, 230);
    border-radius: 16px;
}

.chart-title {
    align-self: top;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    margin: 1vh 0.5vw;
}

.chart-clickable {
    transition: background-color .1s ease
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s ease, visibility 0.4s;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2000;
}

.modal {
    width: 80%;
    height: 70%;
    position: relative;
    overflow: hidden;
    background-color: rgba(132, 132, 132, 0.2);
    border-radius: 16px;
    padding: 24px;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.1, 1, 0.1, 1);
}

.modal-content {
    display: flex;
    height: 100%;
    gap: 32px;
}

.modal-chart {
    flex: 2;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 90%;
    overflow: hidden;
    background-color: rgb(230, 230, 230);
    border-radius: 16px;
    padding: 24px;
}

.control-group {
    flex: 1;
    background-color: rgb(230, 230, 230);
    border-radius: 16px;
    padding: 24px;
}

.modal-controls {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 32px;
}

.modal-text {
    flex: 3;
    font-family: 'Montserrat';
    overflow-y: hidden;
    background-color: rgb(230, 230, 230);
    border-radius: 16px;
    padding: 24px;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    background: none;
    transition: background .1s ease;
    border: none;
    border-radius: 16px;
    line-height: 1;
    padding: 0;
}

/* ================== States ================== */

nav a.active {
    font-weight: bold;
    background-color: rgb(208, 208, 208);
    transition: background-color .1s ease;
}

nav a:hover:not(.active) {
    background-color: rgb(225, 225, 225);
    transition: background-color .1s ease;
    animation: linkHover .1s both;
}

.chart-clickable:hover {
    background-color: rgb(220, 220, 220);
    transition: background-color .1s ease
}

.overlay.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.overlay.hidden .modal {
    transform: scale(0.95);
}

.close-button:hover {
    background-color: rgb(237, 237, 237);
    transition: background-color .1s ease;
}

.control-group.hidden {
    display: none;
}

/* ================== Animations ================== */

@keyframes linkHover {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.modal-chart,
.modal-controls {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s cubic-bezier(0.1, 1, 0.1, 1), opacity 0.7s ease;
}

.overlay.hidden .modal-chart {
    opacity: 0;
    transform: translateY(100vh);
}

.overlay.hidden .modal-controls {
    opacity: 0;
    transform: translateY(100vh);
}

.overlay:not(.hidden) .modal-controls {
    transition-delay: 0.1s;
}

/* Hide AnyChart watermark */

img[id^="ac"] {
    display: none !important;
}

span[id^="ac"] {
    display: none !important;
}